<polymer-element name="keyboard-navigation-manager" attributes="">
    <template></template>
    <script>
        Polymer({
            elements: [],
            created: function () {
            },
            ready: function() {
                console.log("navigation manager ready", document);
                var self = this;
                document.addEventListener("keyboard-navigation-component-register", function(event) {
                    // console.log("Event registration", arguments);
                    self.elements.push(event.detail.element);
                });

                document.addEventListener("keyboard-navigation-component-move", function(event) {
                    // console.log("Move in manager", arguments);
                    var doNext = false;
                    self.elements.forEach(function(el) {
                        if (doNext) {
                            doNext = false;
                            el.requestNavigationFocus();
                        }
                        if (el == event.detail.element) {
                            doNext = true;
                        }
                    });
                });

            },
            register: function(el) {
                console.log("Register:", el);
                this.elements.push(event.detail.element);
            },
            move: function(from, dir) {
                for (var i= 0,max=this.elements.length; i<max; i+=1) {
                    if (from == this.elements[i]) {
                        if (i+1<max) {
                            this.elements[i+1].requestNavigationFocus();
                        }
                        return;
                    }
                }
            }
        })
    </script>
</polymer-element>

<polymer-element name="keyboard-navigation-wrapper" attributes="focusable manager">
    <template>
        <content on-keydown="{{onKeydown}}" id="content"></content>
    </template>
    <script>
        Polymer({
            elements: [],
            created: function () {
            },
            focusable: undefined,
            manager: null,
            internalManager: null,
            ready: function() {

                var self = this;
                kbnav.register(this, function() {
                    console.log("triggered!!!");
                }, function() {
                    console.log("focused!!");
                    self.requestNavigationFocus();
                });
                kbnav.installNavigationControl(this);
            },
            requestNavigationFocus: function() {

                var element = null;
                if (!this.focusable) {
                    var nodes = this.$.content.getDistributedNodes();
                    for (var index = 0; index < nodes.length && element == null; index+=1) {
//                        console.log("looking node in ", index,  nodes[index], this.focusable);
//                        // element = nodes[index].querySelector(this.focusable);
                        var nodeName = nodes[index].nodeName;
//                        console.log("checking", nodeName);
                        if (nodeName.toLowerCase() == "button") {
                            element = nodes[index];
                        }
                    }
                }
                // this.content.shadowRoot.querySelector(this.focusableElement);
//                console.log("focus requested", this.focusable, element);
                if (element) {
                    element.focus();
                }
            }
        })
    </script>
</polymer-element>
